# --- DATABASE CONFIG ---
POSTGRES_DB=renderhive
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DATABASE_URL=postgres://postgres:postgres@postgres:5432/renderhive

# --- REDIS CONFIG ---
REDIS_URL=redis://redis:6379/1

# --- DJANGO CONFIG ---
SECRET_KEY=dev-secret-key-change-me-in-production
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,api
CORS_ALLOW_ALL_ORIGINS=True
